
.contact-div {
    display: flex;
    width: 90vw;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    color:black;
    border: 1px solid #ccc;
    box-shadow:
    10px -20px 20px lightblue inset,
    5px -5px 10px black;
    margin-left: 5rem;
    padding: 1rem 1rem 1rem 1rem;

    
}