.footer {
  display: flex;
    color:black;
    font-size: 2rem;
    background-color: white;
    position: absolute;
    padding: 1.5rem;
    top: 93rem;
    width: 100vw;
    height: 5rem;
    background-color: rgba(240, 255, 255, 0.4);
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
        box-shadow:
        10px -20px 20px lightblue inset,
        5px -5px 10px black;
  }
  .footer-span {
    color: goldenrod;
    text-shadow: 2px 2px 4px gold;
  }