.First-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    background: #C9D6FF; 
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
    width: 100vw;
    margin: 2rem;
    margin-top: 30rem;
    position: absolute;
    padding: 2rem;
    border: 1px solid #ccc;
    box-shadow:
    10px -20px 20px lightblue inset,
    5px -5px 10px black;
   

   
    .ArrangePlan {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }


@media screen and (min-width: 1300px) {
    left: 50%; 
    transform: translateX(-50%);
  }
  @media screen and (max-width: 1300px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
