.weatherDiv {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    top: 108%;
    left: 38.5%;
    bottom: 60%;
   
   height: 30rem;
   width: 30rem;
}


.weatherForm {
    position: absolute;
    top: 101%;
    left:40%;
    
}

.weatherInput {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow:
    10px -20px 20px lightblue inset,
    5px -5px 10px black;
    font-family: "Jura", sans-serif;
}

.watherButton {
    padding: 1rem 1.5rem;
    font-family: "Jura", sans-serif;
    background: rgb(255, 240, 240);
    font-size: 1rem;
    border-radius: 3px;
    transition: all 0.5s;
    box-shadow:
    10px -20px 20px lightblue inset,
    5px -5px 10px black;
}

.weatherP {
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 0.5rem;
    text-shadow: 2px 1px 5px black;
    
    
}

    .weather-h1 {
        text-shadow: 2px 1px 5px black;
    }